:root {
  --ion-color-primary: #729b79;

  --ion-color-secondary: #bacdb0;

  --ion-color-tertiary: #475b63;

  --ion-color-success: #729b79;

  --ion-color-warning: #ffd634;

  --ion-color-danger: #ff4961;

  --ion-color-dark: #2e2c2f;

  --ion-color-medium: #475b63;

  --ion-color-light: #f3e8ee;
}
